.ellipsis {
    display: inline-flex;
    gap: 0.06rem;
    align-items: baseline;
    font-weight: 600;
    /* optional */
    line-height: 1;
}

.dot {
    opacity: 0;
    transform: translateY(-2px);
    animation: dot 1s infinite;
}

/* staggered delays */
.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.12s;
}

.dot:nth-child(3) {
    animation-delay: 0.24s;
}

@keyframes dot {
    0% {
        opacity: 0;
        transform: translateY(-2px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    60% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(2px);
    }
}